.button{
  font: 700 1rem/1 "Inter", sans-serif;
  text-transform: uppercase;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
}
.button::before,
.button::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:calc(100% + 2px);
  height:calc(100% + 2px);
  z-index: -1;
  background: linear-gradient(
    to right,
    #35B3FF,
    #812FFF,
    #E737FF);
  border-radius: 20px;
}