.skillItem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--first-main-color)
  url(../../Assets/Img/Svg/Decorations/right-top.svg)top right no-repeat, url(../../Assets/Img/Svg/Decorations/botton-left.svg) bottom left no-repeat, #191919;
  position: sticky;
  top: 5rem;
}
.skillItemText{
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  gap: 40px;
}
@media(max-width:1000px){
  .skillItem {
    flex-direction: column;
    margin-bottom: 100px;
    position: initial;
    top: none;
    gap: 15px;
    background: none;
  }
}