:root{
    --background-1:#F5F5F5;
    --background-2:#FAFAFA;

    --color-1:#0E0E0E;
    --color-2:#F5F5F5;
    --color-p1:#FBBF24;
    --color-p2:#FACC15;
    --color-p3:#EAB308;

}
.background-1{
    background: var(--background-1);
}
.background-2{
    background: var(--background-2);
}
.color-1{
    color: var(--color-1);
}
.color-2{
    color: var(--color-2);
}
.color-p1{
    color: var(--color-p1);
}
.color-p2{
    color: var(--color-p2);
}
.color-p3{
    color: var(--color-p3);
}

body.dark{
    --background-1:#0E0E0E;
    --background-2:#191919;

    --color-1:#FFFFFF;
    --color-p1:#F4FA1A;
    --color-p2:#E2E823;
    --color-p3:#B7BC00;
}