:root{
    --background-1:#F5F5F5;
    --background-2:#FAFAFA;

    --color-1:#0E0E0E;
    --color-p1:#FBBF24;

}
.background-1{
    background: var(--background-1);
}
.background-2{
    background: var(--background-2);
}
.color-1{
    color: var(--color-1);
}
.color-p1{
    color: var(--color-p1);
}

body.dark{
    --background-1:#0E0E0E;
    --background-2:#191919;

    --color-1:#FFFFFF;
    --color-p1:#F4FA1A;
}