.container{
  box-sizing: border-box;
  max-width: 1600px;
  padding: 150px 30px;
  margin: 0 auto;
}
@media(max-width:1050px){
  .container{
    padding: 75px 15px;
  }
}

.detailLocal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font: 400 1rem/1 "Inter", sans-serif;
}
/* links*/
.links li{
  display: flex;
  align-items: center;
  gap: 5px;
}
.links a{
  font: 400 1rem/1 "Inter", sans-serif;
  text-transform: capitalize;
  padding: 5px;
  position: relative;
}
.links a::after{
  content: "";
  height: 2px;
  width: 0%;
  background-color: #FBBF24;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.links a:hover::after,
.links a:hover{
  width: 100%;
}
