.social-links,
.flex-center {
  display: flex;
  align-items: center;
    padding: 15px 0px;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: var(--color-1);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: var(--background-1);
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  color: var(--color-1);
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 90px;
}
.btn-sm-2{
    background:var(--background-2);
}
#linkedin svg {
  fill: var(--color-1);
}

#github svg {
  fill: var(--color-1);
}
#instagram svg{
  fill: var(--color-1);
}