.btn-2{
    background: var(--color-p1);
    color: #0E0E0E;
}
.btn-2:hover{
    background: linear-gradient(var(--color-p2),var(--color-p3));
    transition: 0.6s;
}
.download::after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 35px;
    margin-left: 12px;
    background: url(../../../img/icones/icone-download.svg),no-repeat;
}
.download:hover::after{
    transition: 0.7s;
    transform: translateY(4px);
}
.download:hover::after{
    transition: 0.7s;
    transform: translateY(4px);
}