.headerBg{
  background: var(--color-white);
  position: fixed;
  width: 100%;
  height: max-content;
  z-index: 2;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  padding: 20px !important;
}
.headerNav{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.headerNav li{
  color: var(--first-main-color);
}
.headerNavMobile{
  display: none;
  opacity:0;
}
.headerNavMobileActive{
  display: block;
  position: absolute;
  top: 80px;
  z-index: 1;
  background: var(--second-main-color)url(../../../Assets/Img/Background/nav-bg.png) right no-repeat;
  background-size: cover;
  width: 100%;
  right: 0;
  height: 100vh;
  padding-top: 200px;
  opacity: 1;
}

.headerNavMobileActive li a {
  color: var(--text-color);
  font: 700 3rem/1.5 "Inter", sans-serif;
  text-transform: uppercase;
  padding: 15px 50px;
  visibility: visible;
}
.navButton{
  background: linear-gradient(
    to right,
    #35B3FF,
    #812FFF,
    #E737FF);
  border-radius: 2rem;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
  color: var(--text-color);
}
.navButton::after{
  content: '';
  display: block;
  height: 2px;
  width: 1.2rem;
  border-radius: 2px;
  background:currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.3s;
} 
.navButton:focus,
.navButton:hover,
.navButtonActive {
  outline: none;
  box-shadow: 0 0 0 2px var(--second-main-color);
  border-color: var(--second-main-color);
  color:var(--second-main-color);
}
.navButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 px currentColor, 0 -8px currentColor;
}
