.header-bg {
  background: var(--cor-4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-menu a {
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
}

.header-menu a:hover {
  color: var(--cor-p1);
  transition: 0.7s;
  border-color: var(--cor-p1);
}

.menuMobile {
  display: none;
}

@media (max-width: 800px) {
  .header-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    height: 0px;
    background: linear-gradient(var(--cor-3), var(--cor-4));
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
    text-align: center;
  }
  .header-menu a {
    display: grid;
  }
  #menu.active .header-menu {
    height: 25vh;
    visibility: visible;
    overflow-y: auto;
  }
  .menuMobile {
    display: block;
    max-width: max-content;
    font: 500 1.15rem / 1.2 "Roboto Slab", serif;
    background: var(--cor-p1);
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
  }
}
