.js [data-menu="button"] {
  display: none;
}
@media (max-width: 850px) {
  .js [data-menu="button"] {
    display: flex;
    align-items: center;
    max-width: max-content;
    font: 500 1rem / 1.2 "Roboto Slab", serif;
    background: var(--color-p1);
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    text-transform: uppercase;
    color: var(--background-1);
    margin: 10px;
    position: relative;
    z-index: 300;
    cursor: pointer;
  }
  .js [data-menu="button"]::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: var(--background-1);
    box-shadow: 0 4px var(--background-1), 0 -4px var(--background-1);
    transition: transform 0.3s;
  }
  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }
  .js [data-menu="list"] {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    height: 0px;
    background: var(--background-1);
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
    text-align: center;
  }
  .js [data-menu="list"] a {
    display: grid;
  }
  .js [data-menu="suave"].active [data-menu="list"] {
    height: 25vh;
    visibility: visible;
    overflow-y: auto;
  }
}
