.title{
  text-transform: uppercase;
  font: 800 6.25rem/1 "Inter", sans-serif;
  text-align: start;
  color: var(--first-main-color);
  max-width: 16ch;
}

@media(max-width:1050px){
  .title{
    font-size: 3rem;
  }
}