.cardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 100px 0px;
}
.cardInfo{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cardInfo img{
  width: max-content;
}

.cardInfo p{
  max-width: 50ch;
}
.cardButtons{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 15px;
}
.techsList{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 450px;
}
.spanTech{
  font: 700 0.625rem/1 "Inter", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #2C2C2C;
  border-radius: 20px;
  padding: 5px 10px;
}
.gradientPurple{
  background: linear-gradient(
    to right,
    #35B3FF,
    #812FFF,
    #E737FF);
}
.gradientBlue{
  background: linear-gradient(
    to right,
    #3DF8B8,
    #2FA8E8,
    #1D5FFE);
}
.gradientOrange{
  background: linear-gradient(
    to right,
    #FFC225,
    #FF6A29,
    #FF4D14);
}
.gradientGreen{
  background: linear-gradient(
    to right,
    #FFEA29,
    #BFFD62,
    #3AFF71);
}
.cardSpan{
  font: 800 4rem/1 "Inter", sans-serif;
  max-width: 13ch;
  text-transform: uppercase;
  position: relative;
  color: transparent;
  background-clip: text;
}
@media(max-width:1000px){
  .cardInfo h3{
    font-size: 1.5rem;
    padding-top: 10px;
  }
  .cardSpan{
    font: 800 3rem/1 "Inter", sans-serif;
  }
}
@media(max-width:750px){
  .cardContainer{
    grid-template-columns: 1fr;
    align-items: start;
    padding: 50px 0px;
  }
  .cardContainer > img{
    width: 100%;
  }
}