.aboutBg{
  background-image: url(../../../Assets/Img/Background/bg-about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}
.aboutText{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.aboutText p{
  max-width: 40ch;
}
@media (max-width: 1000px) {
  .aboutText{
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .aboutText p{
    max-width: 100%;
  }
  .aboutText h1{
    font-size: 2.5rem;
  }
}