.skillBg{
  background: var(--first-main-color) url(../../../Assets/Img/Background/bg.svg) center top repeat-x;
}
.skills{
  display: flex;
  flex-direction: column;
  gap: 150px;
}

@media(max-width:1000px){
  .skills{
    align-items: center;
    justify-items: center;
    gap: 100px;
  }
}