:root{
  --first-main-color :#050505;
  --second-main-color:#191919;

  --color-white:#FFFFFF;

  --text-color:#F5F5F5;

  --detail-color:#FBBF24;
}
.corDetail{
  color: var(--detail-color);
}
.corBlack{
  color: var(--first-main-color);
}
