.subtitle{
  font: 800 4rem/1 "Inter", sans-serif;
  max-width: 13ch;
  text-transform: uppercase;
  position: relative;
}
.subtitleSpan{
    background: linear-gradient(
      to right,
      #35B3FF,
      #812FFF,
      #E737FF);
    color: transparent;
    background-clip: text;
}
@media(max-width:1000px){
  .subtitle{
    font-size: 2rem;
  }
}